<!-- base.html 은 다른 html파일에 기초가 되는 로고와 css 스타일을 잡아주는 html 파일 입니다 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/cam.css">
    <link rel="stylesheet" href="/static/style.css">
<!-- 로고 'BARCODELESS'의 스타일을 설정해줍니다 -->
    <title>barcodeless</title>
    <style>
        html,body{
            height: 100%;
        }
        .wrap {
            display: flex;
            flex-direction: column;
                height: 100%;
        }
    </style>
</head>
<!-- 다른 html 파일의 기초가 되는 배경을 설정해줍니다 -->
<body style='background-color:#FFEFF7;'>
    <div>
        <div style='background-color:#FFF89E;' class="navbar navbar-expand-lg">
            <div class="container align-items-center">
                <a href="../" style='color:#70BFB9; text-align: center; margin: 0 auto; font-size:72px; font-weight:bold;' class="navbar-brand">BARCODELESS</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

