<!-- cam.html 은 사진을 촬영하거나 앨범에 있는 사진을 선택하여 업로드할 수 있는 html 파일 입니다 -->
{% extends "barcodeless/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="image-upload" id="image-upload">
    <!-- 사진을 촬영하거나 앨범에 있는 사진을 선택하여 업로드할 수 있도록 설정합니다 -->
        <form action="/barcodeless/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="button">
                <label for="chooseFile">
                    👉 CLICK HERE! 👈
                </label>
            </div>
            <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
            <input type="submit" value="Submit" />
        </form>

        <div class="fileContainer">
            <div class="fileInput">
                <p>FILE NAME: </p>
                <p id="fileName"></p>
            </div>
            <div class="buttonContainer">
                <div class="submitButton" id="submitButton">SUBMIT</div>
            </div>
        </div>
    </div>
    
    <div class="image-show" id="image-show" style='height:500px'></div>

    <!-- '촬영하기' 버튼을 설정합니다 -->
    <div style='text-align:center; margin-top:0px;'>  
        <div style='margin-top:70px; text-align:center; margin-top:70px;'>
            <a href='/barcodeless/main/'>
                <button type="button" class="btn btn-success" style='width:350px; height:120px; font-size:50px;  border:none; color: #FF8B8E; background-color: #FFF89E;'>촬영하기</button>
            </a>
        </div>
    </div>  
</div>

<script src="{% static 'barcodeless/index.js' %}"></script>


{% endblock %}

