{% extends "barcodeless/base.html" %}
{% block content %}
{% load static %}

<div style='text-align:center; margin-top:100px;'>
    <div>
        <style>
            #container {
                margin: 0px auto;
                width: 800px;
                height: 605px;
                border: 10px #333 solid;
            }
            #videoElement {
                width: 780px;
                height: 585px;
                background-color: #666;
            }
        </style>
        <div id="container">
            <video autoplay="true" id="videoElement">
            
            </video>
        </div>
        <script>
            var video = document.querySelector("#videoElement");

            if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                video.srcObject = stream;
                })
                .catch(function (err0r) {
                console.log("Something went wrong!");
                });
            }
        </script>
    </div>

    <div style='margin-top:100px;'>
        <a href='/barcodeless/main/'>
            <button type="button" class="btn btn-success" style='width:350px; height:120px; font-size:50px;  border:none; color: #FF8B8E; background-color: #FFF89E;'>촬영하기</button>
        </a>
    </div>
</div>  
{% endblock %}