<!-- info.html은 'barcodeless'의 사용 방법을 설명해주기 위한 html 파일입니다 -->
{% extends "barcodeless/base.html" %}
{% block content %}
{% load static %}
<div style='text-align:center;'>
<!-- 사용설명서 버튼을 생성합니다 -->
  {% comment %} <div style="margin-top:50px; ">
    <span style='color:#FFBFC0; border-radius:10px; font-size:48px; font-weight:bold;'>사용 설명서</span>
  </div> {% endcomment %}

  <div style="margin-top:20px;">
    <button type="button" class="btn btn-success" style='width:450px; border: none; height:120px; font-size:60px; color: #FF8B8E; background-color: #FFEFF7'>사용 설명서</button>
  </div>

  <!-- 4장의 사진을 사용하여 사용설명서를 완성합니다 -->
  <div class='container' style='margin:auto'> 
    <div class='row' style='margin-bottom:72px'>
      <div class="col-md-1"></div>
      <div class="figure col-md-4" style='margin:auto; border-radius: 30px; padding:10px; border:4px solid #FF8B8E'>
        <img src="{% static 'barcodeless/info-01.png' %}" alt="info_01" class="figure-img img-fluid z-depth-1" style="width: 400px; border-radius: 15px; position:relative; ">
      </div>

      <div class="col-md-2" style="width:24px"></div>
      
      <div class="figure col-md-4" style='margin:auto; border-radius: 30px; padding:10px; border:4px solid #FF8B8E'>
        <img src="{% static 'barcodeless/info-02.png' %}" alt="info_02" class="figure-img img-fluid z-depth-1" style="width: 400px; border-radius: 15px; position:relative; ">
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class='row' style='margin-top:0px'>
      <div class="col-md-1"></div>
      <div class="figure col-md-4" style='margin:auto; padding:10px; border-radius: 30px; border:4px solid #FF8B8E'>
        <img src="{% static 'barcodeless/info-03.png' %}" class="figure-img img-fluid z-depth-1"
          alt="..." style="width: 400px; border-radius: 15px; position:relative; ">
      </div>
      <div class="col-md-2" style="width:24px"></div>
      <div class="figure col-md-4" style='margin:auto; padding:10px; border-radius: 30px; border:4px solid #FF8B8E'>
        <img src="{% static 'barcodeless/info-04.png' %}" class="figure-img img-fluid z-depth-1"
          alt="..." style="width: 400px; border-radius: 15px; position:relative; ">
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <!-- 시작하기 버튼을 생성함으로써 다음 단계로 넘어갈 수 있도록 합니다 -->
  <div>
    <a href='/barcodeless/cam/'>
        <button type="button" class="btn btn-success" style='margin-top:30px; width:350px; height:120px; font-size:50px;  border:none; color: #FF8B8E; background-color: #FFF89E;'>시작하기</button>
    </a>
</div>

</div>
{% endblock %}