{% extends "barcodeless/base.html" %}
{% block content %}



<div style= 'text-align:center;'>
    <div>
        <a href='/barcodeless/cam/'>
            <button type="button" class="btn btn-success" style='width:350px; height:120px; font-size:50px;  border:none; color: #FF8B8E; font-weight:bold; background-color: #FFF89E;'>다시 촬영하기</button>
        </a>
    </div>
    <div>
        <a href='/barcodeless/cam/'>
            <button type="button" class="btn btn-success" style='width:350px; height:120px; font-size:50px;  border:none; color: #FF8B8E; font-weight:bold; background-color: #FFF89E;'>추가 촬영하기</button>
        </a>
    </div>
</div>
{% endblock %}