<!-- main.html은 cam.html에서 사진 촬영/ 사진 업로드를 한 뒤의 결과를 장바구니 형식으로 보여주기 위한 html 파일입니다 -->
{% extends "barcodeless/base.html" %}
{% block content %}
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>계산하기</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/barcodeless/10-11.css">
    <link rel="stylesheet" href="/static/style.css">
	<script type="text/javascript" src="/static/barcodeless/10-11.js"></script>  
</head>


<body>
    <!-- 장바구니의 기능(상품명, 가격, 수량, 합계, 삭제)을 위한 설정을 합니다 -->
    <form name="orderform" id="orderform" method="post" class="orderform" action="/Page" onsubmit="return false;">
    
            <input type="hidden" name="cmd" value="order">
            <div class="basketdiv" id="basket">
                <div class="row head">
                    <div class="subdiv">
                        <div class="check" style="display:none;">선택</div>
                        <div class="pname">상품명</div>
                    </div>
                    <div class="subdiv">
                        <div class="basketprice">가격</div>
                        <div class="num">수량</div>
                        <div class="sum">합계</div>
                    </div>
                    <div class="subdiv">
    
                        <div class="basketcmd">삭제</div>
                    </div>
                    <div class="split"></div>
                </div>
                <!-- 상품개수에 따른 합산을 위한 사용자 정의 템플릿 함수를 불러옵니다 -->
                {% load calculater %}
                {% if items %}
                    {% for item in items %}
                        <div class="row data">
                            <div class="subdiv">
                                <div class="check" style="display:none;"><input type="checkbox" name="buy" value="262" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                                <div class="pname">
                                    <span>{{ item.0 }}</span>
                                </div>
                            </div>
                            <div class="subdiv">
                                <div class="basketprice"><input type="hidden" name="p_price" id="p_price3" class="p_price" value="{{item.1}}">{{item.1}}원</div>
                                <div class="num">
                                    <div class="updown" style="width:180px">
                                        <input style="border:none; width:100px;" type="text" name="p_num{{ forloop.counter }}" id="p_num{{ forloop.counter }}" size="4" maxlength="4" class="p_num" value="{{item.2}}" onkeyup="javascript:basket.changePNum({{ forloop.counter }});">
                                        <span onclick="javascript:basket.changePNum({{ forloop.counter }});"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                                        <span onclick="javascript:basket.changePNum({{ forloop.counter }});"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                                    </div>
                                </div>
                                <div class="sum">{% multiply item.1 item.2 %}원</div>
                            </div>
                            <div class="subdiv">
                                <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <!-- 선택상품 삭제, 장바구니 비우기, 상품개수, 합계금액을 위한 버튼을 설정합니다 -->
            <div class="right-align basketrowcmd">
                <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delCheckedItem();" style="display:none;">선택상품삭제</a>
                <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delAllItem();">장바구니비우기</a>
            </div>
                <div class="bigtext right-align sumcount" id="sum_p_num">
                    상품갯수: {% tot_cnt items %}개 
                </div>
                <div class="bigtext right-align box blue summoney" id="sum_p_price">
                    합계금액: {% tot_price items %}원
                </div>

            <!-- 선택한 상품 주문을 위한 버튼을 설정합니다 -->
            <div id="goorder" class="">
                <div class="clear"></div>
                <div class="buttongroup center-align cmd">
                    <a href='/barcodeless/payment/'>
                        <button type="button" class="btn btn-success" style='width:300px; height:100px; font-size:35px;  border:none; color: #FF8B8E; background-color: #FFF89E;'>선택한 상품 주문</button>
                    </a>
                </div>
            </div>
        </form>
</body>


<div style= 'text-align:center; margin-top:20px;'>
    <div>
        <a href='/barcodeless/cam/'>
            <button type="button" class="btn btn-success" style='width:300px; height:100px; font-size:40px;  border:none; color: #FF8B8E; background-color: #FFF89E;'>다시 촬영하기</button>
        </a>
    </div>
    <div style= margin-top:20px;>
        <a href='/barcodeless/cam/'>
            <button type="button" class="btn btn-success" style='width:300px; height:100px; font-size:40px;  border:none; color: #FF8B8E; background-color: #FFF89E;'>추가 촬영하기</button>
        </a>
    </div>
</div>
{% endblock %}

