{% extends "barcodeless/base.html" %}
{% block content %}
{% load static %}

<div style="text-align:center; margin-top:30px;">
    <h2 style="text-align:center; font-weight: bold; font-size: 50px; color: #FF8B8E">
        원하시는 결제 수단을 선택해주세요
    </h2>
</div>

<div style='text-align:center; margin-top:30px;'>
    <div class='container'>
        <div class='row' style="height:350px; margin-bottom: 25px;">
            <div class="col-3"></div>
            <div class='col-6' style="border:solid 6px #70bfb9; border-radius:20px;">
                <a href='/barcodeless/payload/' style='text-decoration:none; color:black;'>
                    <h1 style="margin-top:20px;">카드 결제</h1>
                    <button class="btn" id="btn" type="submit" >
                        <img class="btn-img" src="{% static 'barcodeless/payment1.png' %}" alt="payment1" width="200" height="200">
                     </button>
                </a>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row" style="height:350px; margin-top:40px;">
            <div class="col-3"></div>
                <div class='col-6' style="border:solid 6px #70bfb9; border-radius:20px;">
                    <a href='/barcodeless/payload/' style='text-decoration:none; color:black;'>
                        <h1 style="margin-top:20px;">현금 결제</h1>
                        <button class="btn" id="submit">
                            <img class="btn-img" src="{% static 'barcodeless/payment2.png' %}" alt="payment2" width="200" height="200">
                        </button>
                    </a>
                </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
{% endblock %}