@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "TTTogether";
    font-weight: 300; 
}

.btn {
    font-family: "TTTogether";
    font-weight: 100; 
}

div.data > .subdiv > .pname{
    padding-left: 0px;
}
